.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-three-fourth {
  flex-basis: 75%;
}

img {
  width: 100%;
}
